html,
body,
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0.5rem;
}

header {
  display: flex;
  flex-direction: row;
  height: 4rem;
  gap: 0.25rem;
  justify-content: start;
  align-items: end;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

header > img {
  aspect-ratio: 1;
  height: 4rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
}

.itemsHeader {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;    
}



.gridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  height: 2rem;
  width: 2rem;
}

.cell:hover {
  scale: 1.1;
}
